body {
  background: #f8fafe;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

span {
  font-family: sans-serif;
}

.test {
    max-width: 100%;
}
.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #010541;
    max-width: 1400px;
    width: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    background:#f8fafe;
    
    
}

.icon {
    display: flex;
    flex-direction: row;
  margin-bottom: 19px;
}

.icon__img {
    padding-top: 6px;
}

.icon__logo {

  font-family: sans-serif;
  font-weight: 700;
  font-size: 44px;
  margin-top: 19px;
  margin-left: 7px;
  margin-bottom: 0;
}

.header-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.header__heart {
    fill: #888888;
    cursor: pointer;
}

.header__heart:hover > path {
    fill: #da4a0c;
}

.header__heart:active > path {
    fill: #a93a09;
}

.heart__number {
    position: absolute;
    top: 19px;
    right: 55px;
    font-size: 14px;
    color: #ffffff;
    background: #f36223;
    border-radius: 500px;
    padding: 3px 5px;
}

.header__basket > path {
    fill: #888888;
    cursor: pointer;
}

.header__basket:hover > path {
    fill: #da4a0c;
}

.header__basket:active > path {
    fill: #A93A09;
}

.basket__number {
    position: absolute;
    top: 19px;
    right: -4px;
    color: #ffffff;
    background: #f36223;
    font-size: 14px;
    border-radius: 500px;
    padding: 3px 7px;
}

.item__phone {
  overflow: hidden;
  max-height: 400px;
}

.main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.line {
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  border: 1px dashed #888888;
  margin: 40px 0;
}

.link {
  color: #008cf0;
  font-family: sans-serif;
  text-decoration: none;
}

.link:hover {
  color: #f36223;
}

.link:active {
    color: #A93A09;
}

.list {
  margin-top: 0;
  list-style-position: inside;
  padding: 0;
}

.product__characteries-name {
  margin: 0;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
  margin-top: 100px;
}

.item {
  display: flex;
  gap: 10px;
}
.smartphone {
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 30px;
}

.character__color-list {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.character__square-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  box-sizing: border-box;
  gap: 10px;
  cursor: pointer;
}

.square-image_selected {
  border: 2px solid #f36223;
}

.character__square-image:hover {
  background: #f2f2f2;
}

.character__square-image:active {
    border: 2px solid #A93A09;
    background: #ffffff;
}

.color__img {
  max-width: 31px;
  max-height: 60px;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
  gap: 15px;
}

.sidebar-section__first {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.test {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sidebar-item__old {
  font-size: 16px;
  text-decoration-line: line-through;
  color: #888888;
    align-self: center;
}

.sidebar-item__percent {
  display: inline;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: #f36223;
  border-radius: 500px;
  padding: 4px 8px;
}

.heart {
    width: 25px;
  cursor: pointer;
}

.heart:hover > path{
  fill: #F36223;
}

.heart:active > path{
  fill: #A93A09;
}

.sidebar-item__new {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 15px;
}

.sidebar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #f36223;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: 64px;
  border: none;
  cursor: pointer;
}

.sidebar__btn::before {
  content: "";
  background-image: url(/innopolis1/img/Vector3.svg);
  background-position: center center;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.sidebar__btn:hover {
  background: #da4a0c;
}

.sidebar__btn:active {
  background-color: #a93a09;
}

.frame {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 420px;
  min-height: 300px;
  background: #f0f0f0;
  border: 1px dashed #888888;
  margin-bottom: 15px;
}

.frame:last-child {
  margin-bottom: 0;
}

.second {
  margin-top: 67px;
}

.ad {
  text-align: start;
  margin-top: 67px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #888888;
  width: 100%;
}

.ad__text {
  display: block;
  margin-bottom: 10px;
}

.free__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.memory-block {
  display: flex;
  flex-direction: column;
}

.value-block {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.value-block__value {
  cursor: pointer;
  background: inherit;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.value-block__value:hover {
    background: #f2f2f2;
  }

.value-block__value:active {
    border: 2px solid #A93A09;
    background: #ffffff;
  }

.value_selected {
  border: 2px solid #f36223;
}



.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  max-width: 880px;
  max-height: 896px;
}

.character__color-name,
.memory-block__memory-name,
.characteries-product__characteries-name,
.descr__name {
  font-size: 16px;
}

.descr__text {
  margin-bottom: 15px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.characteries__product {
  display: flex;
  flex-direction: column;
}

.list__item {
  list-style: none;
  font-size: 16px;
  margin-bottom: 10px;
  color: #888888;
}

.list__item span {
  color: #000000;
}

.list__item:before {
  transform: translateY(-1px);
  margin-right: 10px;
  display: inline-block;
  content: "\2B24";
  font-size: 10px;
  vertical-align: middle;
  line-height: 20px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  max-width: 880px;
  margin-bottom: 60px;
}

.reviews__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.reviews__header {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.reviews__btn:hover {
  background: #f2f2f2;
}

.reviewer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.reviewer__photo {
  max-width: 140px;
  max-height: 140px;
  border-radius: 100px;
}

img.reviewer__star {
  margin-bottom: 10px;
  max-width: 150px;
}

.review__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-family: sans-serif;
}

.reviewer__name {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.comparison {
  max-width: 880px;
  margin-bottom: 50px;
}

.table {
  width: 100%;
  border: 1px solid #888888;
  border-collapse: collapse;
  box-shadow: 0 2px 5px #888888;
}

.table-header {
  margin-bottom: 15px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
}

.table__head {
  border: 1px solid #888888;
}

.table-head__item {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
}

.table-head__item:last-child {
  border-right: none;
}

.table-body__item {
  border-right: 1px solid #888888;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
}

.table-body__item:last-child {
  border-right: none;
}

.table-head__item:hover {
  background: #f2f2f2;
}

.table-body__item:hover {
  background: #f2f2f2;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f2f2f2;
}

.footer__main {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 558px;
  height: 51px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.footer__up {
  margin-top: 46px;
  margin-right: 50px;
  margin-bottom: 46px;
}

.footer__main {
  font-size: 14px;
  font-family: sans-serif;
}

.copyright {
  font-weight: bold;
  font-family: sans-serif;
}

.my {
  color: #f36223;
}

.form-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 170px;
  max-width: 710px;
  min-height: 338px;
  margin-bottom: 110px;
}
.form {
  display: flex;
  flex-direction: column;
  
}
.form-block__header {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}

.form__first-row {
  display: flex;
  justify-content: space-between;
  max-width: 710px;
  gap: 40px;
}

.form__name {
  box-sizing: border-box;
  padding: 15px 20px;
  width: 495px;
  max-height: 49px;
  border: 1px solid #888888;
  font-size: 16px;
  font-family: sans-serif;
}

.form__name:hover {
  border: 1px solid black;
}

.error {
  display: flex;
  justify-content: space-between;
  max-width: 710px;
  gap: 40px;
  
}

.error_name-error {
  visibility: hidden;
  box-sizing: border-box;
  padding: 8px 20px;
  width: 100%;
  max-width: 495px;
  max-height: 36px;
  border: 1px solid #DA4A0C;
  color: #FFFFFF;
  background-color: #DA4A0C;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 0 0 10px 10px;
}

.form__grade {
  box-sizing: border-box;
  padding: 15px 20px;
  min-width: 175px;
  max-height: 49px;
  border: 1px solid #888888;
  font-size: 16px;
  font-family: sans-serif;
}

.error_grade-error {
   visibility: hidden;
   box-sizing: border-box;
  padding: 8px 20px;
  max-width: 175px;
  max-height: 49px;
  border: 1px solid #DA4A0C;
  color: #FFFFFF;
  background-color: #DA4A0C;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 0 0 10px 10px;
}

.form__grade:hover {
  border: 1px solid black;
}

.form__content {
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  height: 190px;
  border: 1px solid #888888;
  padding: 15px 20px;
  resize: none;
  margin-bottom: 30px;
}

.form__content:hover {
  border: 1px solid black;
}

.form__footer {
  color: #ffffff;
  font-size: 16px;
  font-family: sans-serif;
  padding: 0px 20px;
  gap: 10px;
  max-width: 177px;
  height: 39px;
  background: #f36223;
  border-radius: 4px;
  border: none;
}

.form__footer:hover {
  background: #da4a0c;
}

.form__footer:active {
    background: #A93A09;
  }

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  .header-logo {
    max-width: 1024px;
  }

  .character {
    max-width: 594px;
  }

  .sidebar {
    max-width: 360px;
  }

  .sidebar {
    max-width: 360px;
  }

  .sidebar-item__old {
    font-size: 14px;
  }

  .comparison {
    display: none;
  }

  .reviews__header {
    margin-top: 45px;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    max-width: 880px;
    max-height: 896px;
  }

  .character__color-name,
  .memory-block__memory-name,
  .characteries-product__characteries-name,
  .descr__name {
    font-size: 16px;
  }

  .reviews {
    max-width: 594px;
  }

  .form {
    max-width: 594px;
  }

  .form-block {
    padding: 0;
  }
}
